@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  /* HOME PAGE STYLES */
  .home-page {
    background-image: url(/public/DSC_7783-1.webp);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }
  
  .header-home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1.8rem;
    align-items: center;
  }
  
  .logo-home-page {
    width: 3.5rem;
    height: 3.5rem;
  }
  
  .menu-bars {
    color: white;
    font-size: 2.5rem;
  }
  
  .menu-bars:hover {
    cursor: pointer;
  }
  
  @media  screen and (min-width:400px) {
    .header-home-page {
      background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    }
  
    .home-page {
      background-image: url(/public/DSC_7783.webp);
    }
  }
  
  /* CONTACT PAGE STYLES */
  .contact-content {
    display: flex;
    flex-direction: column;
  
    gap: 2rem;
  
    margin-top: 2rem;
    
    align-items: center;
  
    min-height: 100vh;
  
  }
  
  .icon {
    width: 70%;
    height: 70%;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .contact-number-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .phone-number {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  
  .link-social-media {
    text-decoration: none;
    color: inherit;
  }
  
  .social-media-logos {
    font-size: 4rem;
  }
  
  .hidden {
    display: none !important;
  }
  
  @media screen and (min-width:760px) {
  
    .icon {
      width: 40%;
      height: 40%;
    }
  
    .category-button {
      font-size: 1.2rem !important;
    }
  
  
  }
  
  @media screen and (min-width:1024px) {
    .horizontal-carousel {
      width: 63% !important;
    }
  
  }
  
  @media screen and (min-width:1030px) {
  
    .contact-content {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
  
    
  }
  
  @media screen and (min-width:1450px) {
    .carrousel-container {
      display: flex;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: center;
      gap: 0rem !important;
    }
  
    .vertical-carousel {
      width: 45% !important;
      margin: 0 auto;
    }
  
    .horizontal-carousel {
      width: 45% !important;
    }
  }
  
  /* EVENT PAGE STYLES */
  
  .event-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  
  .category-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .carrousel-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
