.main-footer {
    padding: 0 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    background-color: rgba(0,0,0,0.5);

    height: 10vh;
    width: 100vw;

    margin-top: auto;

    box-sizing: border-box;

    gap: 5rem;
    
}

.company-text {
    font-size: 1rem; /* Tamaño del texto según lo necesites */
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    word-wrap: break-word;
}

.social-media-footer-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.social-media-footer {
    font-size: 1.8rem;
}

